* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background: #252525;
    color: #fff;

}

header {
    text-align: center;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #f2f2f2;
}

a:hover,
a:focus {
    font-weight: 900!important;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.pb2 {
    padding-bottom: 2em;
}

.pt2 {
    padding-top: 2em;
}

.indent {
    margin-left: 3em;
    margin-right: 3rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.blurb {
    font-weight: 600;
    text-align: center;
}

.accent-text {
    font-weight: 800;
    color: turquoise;
    font-size: 2rem;
}

.accent-text-size {
    font-weight: 600;
    color: turquoise;
}



.btn {
    padding: 10px 30px;
    background: turquoise;
    color: black;
    font-weight: 600;
    border: 2px solid #fff;
    margin: 0 2em;
}


.btn:hover,
.btn:focus {
    background: #252525;
    color: turquoise;
    font-weight: 900;
    border: 2px solid turquoise;
}

.btn-project {
    padding: 5px 10px;
    background: turquoise;
    color: black;
    font-weight: 600;
    border: 2px solid #fff;
    margin-right: 5em;
}

.btn-project:hover,
.btn-project:focus {
    background: #252525;
    color: turquoise;
    font-weight: 900;
    border: 2px solid turquoise;
}

.codepen-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2em;
}

.text-box {
    /* background: #fff;
    color: #252525; */
    border: 5px dotted turquoise;
    padding: 2em;
    width: 60%;
}

.text-box:hover {
    font-size: 1.5rem;
    padding: .75rem;
}

.auto-margin {
    margin: 0 auto;
}

.italic-text {
    font-style: italic;
}



.italic-text:hover {
    font-style: normal;
    font-size: 1.3rem;
}

.border-accent {
    border-top: 5px solid #555;
    padding-top: 1.5em;
}

.border-accent-bottom {
    border-bottom: 5px solid #555;
    padding-top: 1.5em;
}

.readme {
    font-size: 1.4rem;
    display: block;
    font-weight: 100;
    text-align: center;
}

.github {
    font-size: 1.4rem;
    display: block;
    font-weight: 100;
    text-align: center;
}

.block {
    display: block;
}

.blog {
    font-size: 3rem;
}

.date {
    font-size: 1rem;
    font-weight: 100;
    margin-left: 1rem;
}


.highlight {
    /* background: rgb(64, 64, 64, .5);
    background: rgb(242, 242, 242, .1);
    background: rgb(115, 115, 115, .1); */
    border-radius: 10px;
    padding: .1rem;
    color: rgb(64, 224, 208);
    font-size: 1.15rem;
    background: rgb(51, 51, 51, .5);
}

.highlight:hover {
    background:rgb(189, 244, 239, .1);
}

.grow-text {
    font-size: 1.5rem;
}

.day-title {
    display: flex;
    justify-content: space-between;
}