* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background: #252525;
    color: #fff;

}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-size: 1.5rem;
}


a {
    text-decoration: none;
    font-weight: 600;
    color: #f2f2f2;
}

div {
    max-width: 1000px;
    margin: 0 auto;
}

a:hover,
a:focus {
    font-weight: 900!important;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.pb2 {
    padding-bottom: 2em;
}

.pt2 {
    padding-top: 2em;
}

.indent {
    margin-left: 3em;
    margin-right: 3rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.blurb {
    font-weight: 600;
    text-align: center;
}

.accent-text {
    font-weight: 800;
    color: turquoise;
    font-size: 2rem;
}

.accent-text-size {
    font-weight: 600;
    color: turquoise;
}

.day-heading {
    font-weight: 800;
    /* color: turquoise; */
    border-top: 1px solid #40e0d0;
    border-bottom: 1px solid #40e0d0;
}

header p {
    font-size: 1rem;
    border: 5px dotted turquoise;
    padding: 2em;
    width: 60%;
    margin: 0 auto;
}

header p:hover, 
header p:focus {
    font-size: .9rem;
    padding: 1.4em;
}

header a:hover,
header a:focus {
    display: block;
    font-size: 3rem!important;
}



.btn {
    padding: 10px 30px;
    background: turquoise;
    color: black;
    font-weight: 600;
    border: 2px solid #fff;
    margin: 0 2em;
}


.btn:hover,
.btn:focus {
    background: #252525;
    color: turquoise;
    font-weight: 900;
    border: 2px solid turquoise;
}

.btn-project {
    padding: 5px 10px;
    background: turquoise;
    color: black;
    font-weight: 600;
    border: 2px solid #fff;
    margin-right: 5em;
}

.btn-project:hover,
.btn-project:focus {
    background: #252525;
    color: turquoise;
    font-weight: 900;
    border: 2px solid turquoise;
}

/* @media screen and (max-width: 600px) {
    .codepen-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
} */



/* .codepen-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2em;
} */

.codepen-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2em;
}

@media screen and (max-width: 600px) {
    .codepen-links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 2em;
    }
}

/* okay i legit can't figure this out and its 11pm and i still have to shower and 11pm is literally 1am for parents but 3am for single moms (timezone adjustments and all) */

.text-box {
    /* background: #fff;
    color: #252525; */
    border: 5px dotted turquoise;
    padding: 2em;
    width: 60%;
}

.text-box:hover {
    font-size: 1.5rem;
    padding: .75rem;
}

.auto-margin {
    margin: 0 auto;
}

.italic-text {
    font-style: italic;
}



.italic-text:hover {
    font-style: normal;
    font-size: 1.3rem;
}

.border-accent {
    border-top: 5px solid #555;
    padding-top: 1.5em;
}

.border-accent-bottom {
    border-bottom: 5px solid #555;
    padding-top: 1.5em;
}

.readme {
    font-size: 1.4rem;
    display: block;
    font-weight: 100;
    text-align: center;
}

.github {
    font-size: 1.4rem;
    display: block;
    font-weight: 100;
    text-align: center;
}

.block {
    display: block;
}

.blog {
    font-size: 3rem;
}


header a:hover,
header a:focus {
    display: block;
    font-size: 3rem!important;
}

.date {
    font-size: 1rem;
    font-weight: 100;
    margin-left: 1rem;
}


.highlight {
    /* background: rgb(64, 64, 64, .5);
    background: rgb(242, 242, 242, .1);
    background: rgb(115, 115, 115, .1); */
    border-radius: 10px;
    padding: .1rem;
    color: rgb(64, 224, 208);
    font-size: 1.15rem;
    background: rgb(51, 51, 51, .5);
}

.highlight:hover {
    background:rgb(189, 244, 239, .1);
}

.grow-text {
    font-size: 1.5rem;
}

.day-title {
    display: flex;
    justify-content: space-between;
}

footer {
    width: 90%;
}



/* 
=================
Navbar
================= 
*/

/* ----------- Hamburger Menu --------------- */

.navbar {
    background: var(--dark-gray);
    overflow: hidden;
    position: relative;
}

nav a:hover,
nav a:focus {
    background-color: var(--mint);
    color: black;
    display: block;
  }

.navbar a {
    /* color: #fff; */
    text-decoration: none;
}

.logo {
    display: block;
    padding: .5em;
    font-size: 2rem;

}

.navbar-links {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 900;
    /* display: block; */
    margin: 0;
    padding: 0;
    text-align: center;
    display: none;
}

.toggle-button {
    background: var(--mint);
    color: var(--semi-black)!important;
    right: 0;
    top: 0;
    display: block;
    position: absolute;
    padding: .5em;
    font-size: 2rem;
}

.toggle-button:hover {
    color: var(--white)!important;
}

.navbar-links.active {
    display: block;
}

.navbar-links li a {
    display: block;
    padding: 1em 0;
    font-size: 1.5rem;
}






/* ----------- Desktop Menu --------------- */



/* @media (max-width: 715px) {
    .navbar-links {
    flex-direction: column;
    align-items: center;
    }
    .navbar-links li {
    margin: 5px 0;
    }  */





/* 
=================
Colors
================= 
*/

:root {

    /* ------------ LIGHT -------------- */
    
    --light-pink: hsla(296, 100%, 73%, 1);
    
    --light-mint: hsla(174, 96%, 85%, 1);
    
    --bright-mint: hsla(174, 100%, 56%, 1);
    
    --mute-mint: hsla(174, 19%, 60%, 1);
    
    --light-blue: hsla(200, 85%, 54%, 1);
    
    --light-muted-blue: hsla(200, 57%, 60%, 1);
    
    --light-purple: hsla(284, 100%, 67%, 1);
    
    --lightest-gray: hsla(0, 2%, 87%, 1);
    
    --lighter-gray: hsla(0, 0%, 74%, 1);
    
    --light-gray: hsla(0, 2%, 71%, 1); 

    --white-gray: hsla(0, 0%, 87%, 1);
    
    --white: hsla(0, 0%, 100%, 1);
    
    
    /* ------------ MEDIUM -------------- */
    
    --accent: hsla(174, 72%, 56%, 1);
    
    --mint: hsla(174, 72%, 56%, 1);
    
    --deep-mint: hsla(174, 58%, 34%, 1);
    
    --blue: hsla(200, 85%, 29%, 1);
    
    --bright-blue: hsl(225, 72%, 56%);
    
    --muted-blue: hsla(200, 57%, 23%, 1);
    
    --muted-purple: hsla(278, 50%, 65%, 1);
    
    --fairy-purple: hsla(278, 100%, 65%, 1);
    
    --purple: hsla(284, 79%, 32%, 1);
    
    --bright-purple: hsla(284, 100%, 68%, 1);
    
    --gray: hsla(0, 0%, 50%, 1);
    
    --anchor-gray: hsla(235, 8%, 28%, 1);
    
    
    
    /* ----------- DARK -------------- */
    
    
    --dark-mint: hsla(174, 72%, 28%, 1);
    
    --darker-mint: hsla(174, 63%, 18%, 1);
    
    --darkest-mint: hsla(174, 32%, 12%, 1);
    
    --dark-blue: hsla(200, 85%, 25%, 1);
    
    --muted-steel-blue: hsla(200, 85%, 18%, 1);
    
    --darker-blue: hsla(200, 85%, 14%, 1);
    
    --darkest-blue: hsla(200, 85%, 9%, 1);
    
    --dark-plum: hsla(284, 69%, 15%, 1);
    
    --dark-purple: hsla(274, 38%, 17%, 1);
    
    --deep-accent: hsla(237, 27%, 17%, 1);
    
    --deepest-accent: hsla(237, 27%, 10%, 1);
    
    --shadow: hsla(0, 0%, 22%, 1);
    
    --dark-gray: hsla(0, 0%, 20%, 1);

    --purple-rain: hsla(264, 29%, 3%, 1);
    
    --semi-black: hsla(0, 0%, 15%, 1);
    
    --black: hsla(0, 0%, 0%, 1);
    
    /* ----------- TRANSLUCENT --------------- */
    
    --trans-white: hsla(0, 0%, 100%, 0.47);
    
    --trans-bright-mint: hsla(174, 100%, 65%, 0.54);
    
    --trans-mint: hsla(174, 72%, 56%, .5);
    
    --trans-blue: hsla(200, 100%, 54%, 0.55);
    
    --trans-purple: hsla(284, 79%, 32%, 0.49);

    --trans-darkgray: hsla(0, 0%, 20%, 1);
    
    --trans-shadow: hsla(0, 0%, 20%, 0.51);

    --trans-black: hsla(0, 0%, 0%, 0.51);


    }
