/*
==================================================================================
                                Table Of Contents:
================================================================================== 
*/

/*
    1. Standard Selectors
    2. Typography
            i. Utility Typography Classes
           ii. Specific Typography Classes
    3. Layout
            i.  Utility Layout Classes
    4. Buttons
            i. Standard Buttons
           ii. JavaScript Buttons
    5. Images
*/ 

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
}

img {
    max-width: 100%;
    display: block;
}


/* 
=================
Typography 
================= 
*/

/* ------------ Utility Typography Classes -------------- */
/* ------------ Specific Typography Classes ------------- */





/* 
=================
Layout
================= 
*/

/* ----------- Utility Layout Classes--------------- */
/* ----------- Specific Layout Classes -----------  */



/* 
=================
Buttons
================= 
*/

/* ----------- Utility Button Classes --------------- */
/* ----------- Specific Button Classes -----------  */
