/*
==================================================================================
                                Table Of Contents:
================================================================================== 
*/

/*
    1. Standard Selectors
    2. Typography
            i. Utility Typography Classes
           ii. Specific Typography Classes
    3. Layout
            i.  Utility Layout Classes
    4. Buttons
            i. Standard Buttons
           ii. JavaScript Buttons
    5. Images
    6.  Navbar
            i. Hamburger
           ii. Other Navbar Types
    7. Colors
            i. Light
           ii. Medium
          iii. Dark
         iiii. Translucent 
*/ 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    background: var(--trans-white);
    font-weight: 200;
    /* background: var(--trans-black); */
}

h1,
h2,
h3,
p
 {
    margin-top: 0;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-weight: 100;
    font-size: 2.5rem;
    text-align: center;

}

main {
    /* transform: translate(-50%, -50%); */
}



/* 
=================
Typography 
================= 
*/

/* ------------ Typography Classes -------------- */

.font-accent {
    display: block;
    font-weight: 900;
    font-size: 4rem;
}

/* ------------ Utility Typography Classes -------------- */


.text-center {
    text-align: center;
}




/* ------------ Specific Typography Classes ------------- */

h1 .font-accent {
    margin-top: -.3em; 
}








/* 
=================
Layout
================= 
*/

/* ----------- Utility Layout Classes--------------- */

.wrapper {
    /* padding-right: 10px;
    padding-left: 10px; */
    width: 90%;
    max-width: 960px;
    margin: 0 auto;    
    /* padding: 0 10px; */
}

.margin-center {
    margin: 0 auto;
}


.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.p2a {
    padding: 2em;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

/* .align-items-flexend {
    align-items: flex-end;
} */

/* ----------- test container crap -----------  */

.test-container {
    /* background: var(--trans-shadow); */
    color: var(--dark-plum);
    border-bottom: 5px dotted var(--trans-purple);
    justify-content: space-between;
}

.coordinate-container {
    /* background:var(--trans-purple); */
    padding-right: 1em;
    padding-bottom: .5em;
    /* border-bottom: 5px dotted var(--trans-purple); */
}

.test-container h2 {
    margin-top: .5em;
    font-size: 1.2rem;
}

.test-container h2 span {
    background: var(--trans-mint);
    border-right: 2px solid var(--deep-accent);
    border-top: .1px solid var(--muted-purple);
    border-left: .2px solid var(--muted-purple);
    border-bottom: 4px solid var(--deep-accent);
    margin: .5rem;
    padding: .1rem .5rem;
}



/* ----------- Specific Layout Classes -----------  */

/* .canvas-board {
    background: var(--darker-blue);
    padding: 5em;
} */

.canvas-wrapper {
    background: var(--trans-mint);
    padding: 1.5em;
    display: flex;
    justify-content: center;
    max-width: 960px;
    /* max-height: 960px; */
}

canvas {
    background: var(--white);
    border: 2px solid var(--deepest-accent);
    width: 100%;
    display: block;
    max-width: 800px;
    max-height: 600px;
    /* height: 600px;
    width: 800px; */
}

/* ---- App Paint Controls ----  */
.controls {
    background: var(--trans-mint);
    /* height: vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0px 10px;
    max-width: 960px;
}

.toolbar-menu {
    font-size: 1.3rem;;
    text-decoration: none;
    font-weight: 900;
    /* color: var(--darkest-mint); */
    background: var(--trans-mint);
}

/* .controls .toolbar-menu, */
.controls .type,
.controls .size,
.controls .color {
    margin: 10px 0px;
}

/* hides radio buttons not icons */
.controls .type input {
    display: none;
}

/* styles icons when checked */
.controls .type input:checked + label {
    background: #111;
    color: #eee;
    border-radius: 50%;
}




/* ---- DESKTOP App Paint Controls ----  */

@media (min-width: 600px) {
    .controls {
        flex-direction: row;
        justify-content: space-evenly;
    }
}


/* ----------- COPY N PASTE TO SEE WHAT DO --------------- */

.toolbar-btn input label,
.controls .type label {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin: 0px 2px;
    cursor: pointer;
}

/* styles icons when checked */
.controls .type input:checked + label {
    background: #111;
    color: #eee;
    border-radius: 50%;
}

/* .controls .size input {
    height: 10px;
}

.controls .actions {
    flex: 1;
    text-align: right;
}

.controls .actions button {
    padding: 5px 10px;
    cursor: pointer;
} */




/* 
=================
Buttons
================= 
*/

/* ----------- Utility Button Classes --------------- */
/* ----------- Specific Button Classes -----------  */

.toolbar-btn {
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px 0px;
}



/* 
=================
Images
================= 
*/



/* 
=================
Navbar
================= 
*/

/* ----------- Hamburger Menu --------------- */

.navbar {
    background: var(--dark-gray);
    overflow: hidden;
    position: relative;
}

nav a:hover,
nav a:focus {
    background-color: var(--mint);
    color: black;
    display: block;
  }

.navbar a {
    color: #fff;
    text-decoration: none;
}

.logo {
    display: block;
    padding: .5em;
    font-size: 2rem;

}

.navbar-links {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 900;
    /* display: block; */
    margin: 0;
    padding: 0;
    text-align: center;
    display: none;
}

.toggle-button {
    background: var(--mint);
    color: var(--semi-black)!important;
    right: 0;
    top: 0;
    display: block;
    position: absolute;
    padding: .5em;
    font-size: 2rem;
}

.toggle-button:hover {
    color: var(--white)!important;
}

.navbar-links.active {
    display: block;
}

.navbar-links li a {
    display: block;
    padding: 1em 0;
    font-size: 1.5rem;
}






/* ----------- Desktop Menu --------------- */



/* @media (max-width: 715px) {
    .navbar-links {
    flex-direction: column;
    align-items: center;
    }
    .navbar-links li {
    margin: 5px 0;
    }  */





/* 
=================
Colors
================= 
*/

:root {

    /* ------------ LIGHT -------------- */
    
    --light-pink: hsla(296, 100%, 73%, 1);
    
    --light-mint: hsla(174, 96%, 85%, 1);
    
    --bright-mint: hsla(174, 100%, 56%, 1);
    
    --mute-mint: hsla(174, 19%, 60%, 1);
    
    --light-blue: hsla(200, 85%, 54%, 1);
    
    --light-muted-blue: hsla(200, 57%, 60%, 1);
    
    --light-purple: hsla(284, 100%, 67%, 1);
    
    --lightest-gray: hsla(0, 2%, 87%, 1);
    
    --lighter-gray: hsla(0, 0%, 74%, 1);
    
    --light-gray: hsla(0, 2%, 71%, 1); 

    --white-gray: hsla(0, 0%, 87%, 1);
    
    --white: hsla(0, 0%, 100%, 1);
    
    
    /* ------------ MEDIUM -------------- */
    
    --accent: hsla(174, 72%, 56%, 1);
    
    --mint: hsla(174, 72%, 56%, 1);
    
    --deep-mint: hsla(174, 58%, 34%, 1);
    
    --blue: hsla(200, 85%, 29%, 1);
    
    --bright-blue: hsl(225, 72%, 56%);
    
    --muted-blue: hsla(200, 57%, 23%, 1);
    
    --muted-purple: hsla(278, 50%, 65%, 1);
    
    --fairy-purple: hsla(278, 100%, 65%, 1);
    
    --purple: hsla(284, 79%, 32%, 1);
    
    --bright-purple: hsla(284, 100%, 68%, 1);
    
    --gray: hsla(0, 0%, 50%, 1);
    
    --anchor-gray: hsla(235, 8%, 28%, 1);
    
    
    
    /* ----------- DARK -------------- */
    
    
    --dark-mint: hsla(174, 72%, 28%, 1);
    
    --darker-mint: hsla(174, 63%, 18%, 1);
    
    --darkest-mint: hsla(174, 32%, 12%, 1);
    
    --dark-blue: hsla(200, 85%, 25%, 1);
    
    --muted-steel-blue: hsla(200, 85%, 18%, 1);
    
    --darker-blue: hsla(200, 85%, 14%, 1);
    
    --darkest-blue: hsla(200, 85%, 9%, 1);
    
    --dark-plum: hsla(284, 69%, 15%, 1);
    
    --dark-purple: hsla(274, 38%, 17%, 1);
    
    --deep-accent: hsla(237, 27%, 17%, 1);
    
    --deepest-accent: hsla(237, 27%, 10%, 1);
    
    --shadow: hsla(0, 0%, 22%, 1);
    
    --dark-gray: hsla(0, 0%, 20%, 1);

    --purple-rain: hsla(264, 29%, 3%, 1);
    
    --semi-black: hsla(0, 0%, 15%, 1);
    
    --black: hsla(0, 0%, 0%, 1);
    
    /* ----------- TRANSLUCENT --------------- */
    
    --trans-white: hsla(0, 0%, 100%, 0.47);
    
    --trans-bright-mint: hsla(174, 100%, 65%, 0.54);
    
    --trans-mint: hsla(174, 72%, 56%, .5);
    
    --trans-blue: hsla(200, 100%, 54%, 0.55);
    
    --trans-purple: hsla(284, 79%, 32%, 0.49);

    --trans-darkgray: hsla(0, 0%, 20%, 1);
    
    --trans-shadow: hsla(0, 0%, 20%, 0.51);

    --trans-black: hsla(0, 0%, 0%, 0.51);


    }




/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */

/* 
=================
================= 
*/

