/*
==================================================================================
                                Table Of Contents:
================================================================================== 
*/

/*
    1. Element Selectors
    2. Typography
            i. Utility Typography Classes
           ii. Specific Typography Classes
    3. Layout
            i.  Utility Layout Classes
    4. Buttons
            i. Standard Buttons
           ii. JavaScript Buttons
    5. Images
    6.  Navbar
            i. Hamburger
           ii. Other Navbar Types
    7. Colors
            i. Light
           ii. Medium
          iii. Dark
         iiii. Translucent 
*/ 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    background: var(--trans-white);
    font-weight: 200;
    /* background: var(--trans-shadow); */
    background: var(--trans);
    background: var(--trans-shaded);
}

h1,
h2,
h3,
p
 {
    margin-top: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* h1 {
    font-weight: 100;
    font-size: 2.5rem;
    text-align: center;
} */






/* 
=================
Typography 
================= 
*/

/* ------------ Typography Classes -------------- */

.font-accent {
    display: block;
    font-weight: 900;
    font-size: 4rem;
}

/* ------------ Utility Typography Classes -------------- */


.text-center {
    text-align: center;
}




/* ------------ Specific Typography Classes ------------- */










/* 
=================
Layout
================= 
*/

/* ----------- Utility Layout Classes--------------- */

.wrapper {
    width: 90%;
    margin: 0 auto;    
    background: var(--trans-darkblue);
    background: var(--trans-shadow);
    background: var(--trans-steel);
}

.margin-center {
    margin: 0 auto;
}


.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.p2a {
    padding: 2em;
}

.flex-container {
    display: flex;
}





/* ----------- Specific Layout Classes -----------  */

 .canvas-wrapper canvas {
    position: relative;
    background: var(--white-gray);
    /* display: block; */
}

.canvas-wrapper {
    background: var(--trans-mint);
    margin-top: 2em;
    border-top: var(--deep-mint) solid 1px;
    border-left: var(--deep-mint) solid .5px;
    border-bottom: var(--deep-mint) solid 2px;
    border-right: var(--deep-mint) solid 4px;
    /* centering interior canvas */
    text-align: center;
}

.test-container {
    color: var(--dark-plum);
    border-bottom: 5px dotted var(--trans-purple);
    justify-content: space-between;
}

.debug-box {
    padding-right: 1em;
    padding-bottom: .5em;
}

.debug-box h2 {
    margin-top: .5em;
    font-size: 1.2rem;
}


/* ---- CANVAS MOBILE View ----  */
.canvasParent {
    width: 600px;
    height: 600px;
    max-width: 600px;
    max-height: 600px;
}

@media (min-width: 450px) {
    .canvasParent {
        width: 425px;
        height: 600px;
        max-width: 425px;
        max-height: 600px;
        margin: 0 auto;
    }
}


@media (min-width: 300px) {
    .canvasParent {
        width: 325px;
        height: 450px;
        max-width: 375px;
        max-height: 450px;
        margin: 0 auto;
    }
}



/* ---- CANVAS DESKTOP View ----  */

@media (min-width: 600px) {
    .canvasParent {
        width: 550px;
        height: 600px;
        max-width: 600px;
        max-height: 800px;
    }
}


@media (min-width: 715px) {
    .canvasParent {
        width: 600px;
        height: 600px;
        max-width: 800px;
        max-height: 600px;
    }
}

@media (min-width: 900px) {
    .canvasParent {
        width: 800px;
        height: 650px;
        max-width: 800px;
        max-height: 700px;
    }
}

/* ---- CANVAS DEBUG FRIEND GUY ----  */

/* #parent {
    background-color:blue;
    width:200px;
    height:200px; 
    margin: 2em;
}

#theCanvas {
    background: red;
} */






/* ---- App Paint Controls ----  */


/* ---- MOBILE App Paint Controls ----  */

.toolbar {
    background: var(--trans-shadow);
    background: var(--trans-shaded);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    font-size: 1.3rem;
}

.toolbar .type,
.toolbar .size,
.toolbar .color {
    margin: 10px 0px;
}

/* Hides Radio Buttons but not Icons */
.toolbar .type input {
    display: none;
}


.toolbar-btn input label,
.toolbar .type label {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 .2rem;
    cursor: pointer;
    line-height: 40px;
}

.toolbar .size input {
    height: 10px;
}

/* .toolbar .actions {
    flex: 1;
    text-align: right;
} */

.toolbar .actions button {
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 600;
    /* background: var(--semi-black);
    color: var(--white); */
    /* border: 1px solid var(--black); */
}

/* styles icons when checked */
.toolbar .type input:checked + label {
    background: var(--semi-black);
    color: var(--white);
    border-radius: 50%;
}






/* ---- DESKTOP App Paint Controls ----  */

/* @media (min-width: 700px) {
    .toolbar .type {
        display: flex;
        flex-wrap: nowrap;
    }   
} */

@media (min-width: 600px) {
    .toolbar {
        flex-direction: row;
        justify-content: space-evenly;
    }   
}


/* ----------- debug ya container crap -----------  */

.test-container {
    color: var(--dark-plum);
    border-bottom: 5px dotted var(--trans-purple);

}

.debug-box {
    padding-right: 1em;
    padding-bottom: .5em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.debug-box h2 {
    margin-top: .5em;
    font-size: 1.2rem;
}

.debug-box h2 span {
    background: var(--trans-mint);
    border-right: 2px solid var(--deep-accent);
    border-top: .1px solid var(--muted-purple);
    border-left: .2px solid var(--muted-purple);
    border-bottom: 4px solid var(--deep-accent);
    margin: .5rem;
    padding: .1rem .5rem;
}







/* 
=================
Buttons
================= 
*/

/* ----------- Utility Button Classes --------------- */
/* ----------- Specific Button Classes -----------  */

.toolbar-btn {
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px 0px;
}








/* 
=================
Images
================= 
*/



/* 
=================
Navbar
================= 
*/

.nav-accent {
    font-weight: 900;
}

.boss {
    display:none;
}

.boss.active {
    display: inline;
}

.ross.active {
    display: none;
}



/* ----------- Hamburger Menu --------------- */

.navbar {
    background: var(--dark-gray);
    overflow: hidden;
    position: relative;
}

nav a:hover,
nav a:focus {
    background-color: var(--mint);
    color: black;
    display: block;
  }

.navbar a {
    color: #fff;
    text-decoration: none;
}

.logo {
    display: block;
    padding: .5em;
    font-size: 2rem;

}

.navbar-links {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 900;
    /* display: block; */
    margin: 0;
    padding: 0;
    text-align: center;
    display: none;
}

.toggle-button {
    background: var(--mint);
    color: var(--semi-black)!important;
    right: 0;
    top: 0;
    display: block;
    position: absolute;
    padding: .5em;
    font-size: 2rem;
}

.toggle-button:hover {
    color: var(--white)!important;
}

.navbar-links.active {
    display: block;
}

.navbar-links li a {
    display: block;
    padding: 1em 0;
    font-size: 1.5rem;
}






/* ----------- Desktop Menu --------------- */



/* @media (max-width: 715px) {
    .navbar-links {
    flex-direction: column;
    align-items: center;
    }
    .navbar-links li {
    margin: 5px 0;
    }  */













/* 
=================
Colors
================= 
*/

:root {

    /* ------------ LIGHT -------------- */
    
    --light-mint: hsla(174, 96%, 85%, 1);
    
    --mute-mint: hsla(174, 19%, 60%, 1);
    
    --light-blue: hsla(200, 85%, 54%, 1);
    
    --light-muted-blue: hsla(200, 57%, 60%, 1);
    
    --lightest-gray: hsla(0, 2%, 87%, 1);
    
    --lighter-gray: hsla(0, 0%, 74%, 1);
    
    --light-gray: hsla(0, 2%, 71%, 1); 

    --white-gray: hsla(0, 0%, 87%, 1);
    
    --white: hsla(0, 0%, 100%, 1);
    
    
    /* ------------ MEDIUM -------------- */
    
    --accent: hsla(174, 72%, 56%, 1);
    
    --mint: hsla(174, 72%, 56%, 1);
    
    --deep-mint: hsla(174, 58%, 34%, 1);
    
    --blue: hsla(200, 85%, 29%, 1);
    
    --bright-blue: hsl(225, 72%, 56%);
    
    --muted-blue: hsla(200, 57%, 23%, 1);
    
    --purple: hsla(284, 79%, 32%, 1);
    
    --gray: hsla(0, 0%, 50%, 1);
    
    --anchor-gray: hsla(235, 8%, 28%, 1);
    
    
    
    /* ----------- DARK -------------- */
    
    
    --dark-mint: hsla(174, 72%, 28%, 1);
    
    --darker-mint: hsla(174, 63%, 18%, 1);
    
    --darkest-mint: hsla(174, 32%, 12%, 1);
    
    --dark-blue: hsla(200, 85%, 25%, 1);
    
    --darker-blue: hsla(200, 85%, 14%, 1);
    
    --darkest-blue: hsla(200, 85%, 9%, 1);
    
    --dark-purple: hsla(274, 38%, 17%, 1);
    
    --deep-accent: hsla(237, 27%, 17%, 1);
    
    --deepest-accent: hsla(237, 27%, 10%, 1);
    
    --shadow: hsla(0, 0%, 22%, 1);
    
    --dark-gray: hsla(0, 0%, 20%, 1);

    --purple-rain: hsla(264, 29%, 3%, 1);
    
    --semi-black: hsla(0, 0%, 15%, 1);
    
    --black: hsla(0, 0%, 0%, 1);
    
    /* ----------- TRANSLUCENT --------------- */

    --trans: hsla(0, 0%, 87%, .2);

    --trans-shaded: hsla(3, 0%, 30%, 0.3);
    
    --trans-white: hsla(0, 0%, 100%, 0.47);

    --trans-steel: hsla(3, 0%, 87%, 0.2);
    
    --trans-bright-mint: hsla(174, 100%, 65%, 0.54);
    
    --trans-mint: hsla(174, 72%, 56%, .5);
    
    --trans-blue: hsla(200, 100%, 54%, 0.55);

    --trans-darkblue: hsla(200, 85%, 9%, .5);
    
    --trans-purple: hsla(284, 79%, 32%, 0.3);

    --trans-darkgray: hsla(0, 0%, 20%, .3);

    --trans-echo: hsla(0, 0%, 20%, 0.3);
    
    --trans-shadow: hsla(0, 0%, 20%, 0.51);

    --trans-black: hsla(0, 0%, 0%, 0.51);


    }













/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */

/* 
=================
================= 
*/
